This documents the config file -- irc-subst.cfg -- that is required to be present when
loading the irc-subst.py script.

Because the module used to read the config file is configparser, the config file format
is reminicent of windows .ini files.

Currently, there are two sections, they are called 'general' and 'db', of those two, only
the 'db' section is required.

And currently, the only option in the 'general' section is called command-prefix. The value of
this option, is the single-character prefix expected on irc lines that are commands. For
example, there is a command lskeys which will list all the keys in the db to the irc client;
in order to run that command, you would type the prefix character from the config file, then
"lskeys".

The db section works a little differently: you put all the options needed to connect to the
database.

Here are some examples:

[general]
command-prefix = !
[db]
dbname = ircsubst
user = george
password = secret
host = myserver.windwalker.co.uk

If the database server is running on the same machine as the irc client and script, you don't 
need to include a host, and maybe also not a password.

Another example, with the server being the same machine:

[general]
command-prefix = .
[db]
dbname = mydb
user = john

